<br>
<br>
<br>
<div class="container">

  <p>Hello {{name}}</p>
  <p>Email : {{email}}</p>
  <pre>
  <strong> Address</strong> <br>
          Street : {{address.street}} <br>
          City   : {{address.city}} <br>
          State  : {{address.state}}<br>
  </pre>
</div>
<button (click)="toggleHobbies()" class="btn btn-primary">{{showHobbies ? "Hide Hobbies" : "Show Hobbies"}}</button>

<div *ngIf="showHobbies">
  <h3>Hobbies</h3>
  <ul>
    <li *ngFor="let hobby of hobbies; let i = index">
      {{hobby}} <button (click)="deleteHobby(i)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
    </li>
  </ul>
  <form (submit)="addHobby(hobby.value)">
    <label>Add Hobby: </label><br />
    <input type="text" #hobby /><br />
  </form>
</div>
<hr />
<h3>Edit User</h3>
<form class="form-horizontal">
  <div class="form-group">
      <label class="control-label col-sm-2" >Name: </label>
    <div class="col-sm-10">
      <input type="text" name="name" [(ngModel)]="name" class="form-control"/>
      </div>
  </div>
  <div class="form-group">
       <label class="control-label col-sm-2">Email: </label>
    <div class="col-sm-10">
       <input type="text" name="email" [(ngModel)]="email" class="form-control"/>
      </div>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-2">Street: </label>
    <div class="col-sm-10">
  <input type="text" name="address.street" [(ngModel)]="address.street" class="form-control"/>
      </div>
  </div>
    <div class="form-group">
  <label class="control-label col-sm-2">City: </label>
      <div class="col-sm-10">
  <input type="text" name="address.city" [(ngModel)]="address.city" class="form-control"/>
        </div>
    </div>
      <div class="form-group">
  <label class="control-label col-sm-2" >State: </label>
        <div class="col-sm-10">
  <input type="text" name="address.state" [(ngModel)]="address.state" class="form-control"/>
          </div>
      </div>
</form>
<hr />
<h3>Posts from site https://jsonplaceholder.typicode.com/posts </h3>
<div *ngFor="let post of posts">
  <pre>
  <h3><u><b>{{post.title}}</b></u></h3>
      <p>{{post.body}}</p>
  </pre>
</div>
